*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history

# Scala-IDE specific
.scala_dependencies
.idea/
.idea_modules/

# Debian specific
debian/.sbt/
debian/files
debian/*.substvars
debian/qmon-popeye-pump/
debian/qmon-popeye-slicer/
debian/*.debhelper
