#! /usr/bin/make -f

export DH_OPTIONS

sbt=./scripts/sbt
sbt_options=-sbt-dir debian/.sbt/sbtboot -sbt-boot debian/.sbt/boot -ivy debian/.sbt/ivy

%:
	dh $@

override_dh_auto_install:
	@set -e;\
		${sbt} ${sbt_options} update compile dist
	dh_auto_install

override_dh_auto_clean:
	dh_auto_clean
	rm -rf project/.sbtboot pro ject/.boot
	${sbt} ${sbt_options} clean clean-files
