generator.id = 0

metrics.csv {
  enabled = false
  period = 5s
  directory = ./metrics
}

popeye.pipeline {
  channel {
   type = kafka
   kafka {
     topic = popeye-points
     group = opentsdb
     max-lag = 300s
     zk.quorum = "localhost:2181"
     broker.list = "localhost:9092"
   }
  }

  sinks = {
//    opentsdb-sink: hbase
    bh: blackhole
  }

  opentsdb-sink = {
    zk.quorum = "localhost:2182"
    topic = "popeye-points"
  }

  sources = {
    opentsdb-source: telnet
  }

  opentsdb-source = {
    port = 4444
  }
}

akka {

#  loglevel = "DEBUG"

  actor {
    debug {
#         event-stream = on
#         autoreceive = on
#         lifecycle = on
#         fsm = on
#         unhandled = on
#         receive = on
#         router-misconfiguration = on
    }
  }
}

