generator.id = 0

popeye.pipeline {
  channel {
   type = kafka
   kafka {
     topic = popeye-points
     group = opentsdb
     max-lag = 300s
     zk.quorum = "localhost:2181"
     borker.list = "localhost:9092"
   }
  }

  sinks = {
    opentsdb: hbase
    bh: blackhole
  }

  bh = {
    max-queued = 150000
    high-watermark = 2000000
    low-watermark = 10000
    tick = 500ms
    workers = 2
  }

  opentsdb = {
    zk.quorum = "localhost:2182"
    topic = "popeye-points"
  }

  sources = {}
}
