<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration scan="false" debug="false">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%date{ISO8601} %-5level [%logger{36}] [%X{sourceThread}] [%X{akkaSource}] : %m%n</pattern>
        </encoder>
    </appender>
    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${qmon.logdir}/pump.log</File>
        <encoder>
            <pattern>%date{ISO8601} %-5level [%logger{36}] [%X{sourceThread}] [%X{akkaSource}] : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <fileNamePattern>${qmon.logdir}/pump.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
        </rollingPolicy>
        <maxHistory>30</maxHistory>
    </appender>

    <logger name="popeye" level="INFO" />
    <logger name="kafka" level="INFO" />
    <logger name="org.apache.zookeeper" level="WARN" />

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="R"/>
    </root>
</configuration>

