<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration scan="false" debug="false">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level [%logger{36}] [%X{sourceThread}] [%X{akkaSource}] : %m%n</pattern>
        </encoder>
    </appender>

    <logger name="popeye" level="INFO"/>
    <logger name="kafka" level="WARN"/>
    <logger name="org.apache.zookeeper" level="WARN"/>

    <root level="DEBUG">
        <appender-ref ref="stdout"/>
    </root>
</configuration>

